/* General */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: #222;
    background: #fff;
    line-height: 1.6;
}

/* Layout */
header,
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 30px;
}

header {
    background: #444;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 25px;
}

img {
    height: auto;
}

/* Sections */
section {
    padding: 10px 10px;
    padding-top: 0px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1px;
}

h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

h3 {
    margin: 0;
    font-size: 20px;
}

h4 {
    margin: 0;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #444;
}

p {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #555;
}

li {
    color: #444;
}

/* Classes */
.intro {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.intro-name {
    font-size: 60px;
}

.intro-degree {
    margin-top: 8px;
    color: #666;
    font-size: 20px;
}

.alternate-colour {
    background-color: #e0e0e0;
}

.contact-links {
    display: flex;
    gap: 20px;
}

.contact-links a {
    text-decoration: none;
    color: #333;
}

.contact-links i {
    margin-right: 5px;
}

/* Image Classes */
.headshot {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 5%;
    margin-top: 25px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-section {
    display: flex;
    align-items: center;
    gap: 40px;
}

.project-section.reverse {
    flex-direction: row-reverse;
}

.project-image {
    width: 50%;
    height: auto;
}

.image-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-column .project-image {
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.gallery-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gallery-three img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


/* Links */
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #888;
}

a:hover {
    border-bottom-color: #222;
}